.shoping-cart-container {
  padding: 1rem;
}

.shoping-cart-container-header {
  display: flex;
  justify-content: space-evenly;
}

.shoping-cart-list {
  margin: 2rem;
  box-shadow: 6px 6px 10px #676767;
  border: 1px solid rgb(223, 223, 223);
  border-radius: 1rem;
}

.shoping-cart-item {
  display: flex;
  justify-content: space-between;
  margin: 0rem 4rem;
  padding: 1.6rem 0rem;
  border-bottom: 1px solid rgb(209, 209, 209);
}

.shoping-cart-image {
  border-radius: 0.5rem;
  width: 7.5rem;
  height: 6.25rem;
}

.shoping-cart-product-quantity {
  margin-top: 0.6rem;
  display: flex;
  justify-content: space-between;
}

.shoping-cart-product-details {
  width: 60%;
  display: flex;
  justify-content: space-between;
  border-right: 1px solid rgb(205, 205, 205);
  border-left: 1px solid rgb(205, 205, 205);
  margin: 0rem 2rem;
  padding: 0rem 2rem;
}

.shoping-cart-product-details-section-one {
  text-align: left;
  display: grid;
  gap: 0.4rem;
  width: 80%;
}

.shoping-cart-product-details-section-one-description {
  font-size: 1rem;
  color: rgb(83, 83, 83);
  font-family: lato, sans-serif;
  letter-spacing: 0.09rem;
}

.shoping-cart-product-details-section-two {
  color: rgb(116, 116, 116);
  border: 1px solid rgb(125, 125, 125);
  width: 6rem;
  position: relative;
  height: 1.4rem;
  border-radius: 0.2rem;
  padding: 0.2rem;
}

.shoping-cart-product-details-section-two:hover {
  background-color: green;
  color: white;
}

.shoping-cart-product-details-section-two-tag {
  position: absolute;
  top: 23px;
  right: -8px;
  width: 35px;
}

.shoping-cart-product-bill {
  width: 30%;
}

.shoping-cart-product-bill-style {
  display: flex;
  justify-content: space-between;
}

abbr{
  text-decoration: none;
}